<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <section>
        <h2>Welcome TO A2_Event</h2>
        <div class="container">
          <div class="box" data-color="clr3">
            <div class="imgBox">
              <img src="/image/Pink_Playful_Masked_Party_Logo_for_Event_Planning_Studio-removebg-preview.png" >
            </div>
            <div class="glass">
                <a href="/front/" ><h3>A2_Event<br /><span>Explore</span></h3></a>
            </div>
          </div>
        </div>
      </section>
</body>
</html>